uWSGI version 1.9.21.1 does not honor RFC-6455 section 11.3.4. (Sec-WebSocket-Protocol)

The function `uwsgi.websocket_handshake(key, origin)` does not offer any possibility to send the incoming HTTP-header `Sec-WebSocket-Protocols`, as specified in section 11.3.4 in RFC-6445 (see http://tools.ietf.org/html/rfc6455#page-59), back to the client.

This is a) a violation of the protocol as specified in the RFC and b) causes a failing handshake on browsers, such as new versions of Chrome (for instance 33.0.1737.0).

Moreover, it doesn't allow the implementor of a websocket to agree on a subprotocol.

My proposal would be to extend the API so, that the function `uwsgi.websocket_handshakes` accepts a third optional parameter, which is the HTTP-header `Sec-WebSocket-Protocols` as sent back to the client.

Apart from that little bug, uWSGI is really great software!
- Jacob
